---
- name: Prompt for user inputs
  hosts: localhost
  connection: local
  gather_facts: false

  vars_prompt:
    - name: os_security_group_name
      prompt: OpenStack security group containing all firewall rules required for HAProxy operation. Press Enter to accept default
      private: false
      default: "ssh-http-https"

  tasks:
    - name: Store user input as localhost facts
      ansible.builtin.set_fact:
        os_security_group_name_fact: "{{ os_security_group_name }}"

- name: Install HA Proxy with certbot
  hosts: all
  become: true
  become_user: root
  become_method: ansible.builtin.sudo

  tasks:
    - name: EWC Ansible Role HAProxy
      ansible.builtin.include_role:
        name: ewc-ansible-role-haproxy-1.1
      vars:
        os_security_group_name: "{{ hostvars['localhost']['os_security_group_name_fact'] }}"
